@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 2% auto;
     /* width: 37rem;   */
    background: #f0eee5;
    display: flex;
}

.main {
    flex-direction: column;
    width: 37rem; 
}

.lists {
    flex-direction: row;
}

.inpBtn {
    flex-direction: row;
}

.logout {
    align-self: flex-end;
}

.showMsgs {
    height: 40rem;
    width: 30rem;
    background-color: white;
    border: .2rem solid black;
    overflow: scroll;
}

ul {
    list-style: none;
}

.disabled {
    visibility: hidden;
}

.able {
    visibility: visible;
}

.banned {
    margin: 0 auto;
    text-align: center;
    color: red;
    font-size: 2.5rem;
}

 