@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 2% auto;
    width: 760px;
    background: #f0eee5;
    display: flex;
}

.showMsgs {
    height: 20rem;
}

ul {
    list-style: none;
}

.disabled {
    visibility: hidden;
}

.able {
    visibility: visible;
}